#define DEFAULT 0
#define NUM     1
#define SYM     2
#define FUN     3
#define MOUSE   4
#define SCROLL  5
#define SNIPE   6

#include <behaviors/mouse_keys.dtsi>
#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

&mt {
    tapping-term-ms = <250>;
    flavor = "tap-preferred";
    quick-tap-ms = <150>;
};

&caps_word { continue-list = <UNDERSCORE MINUS>; };

/ {
    // custom shift using mod-morph 

    behaviors {
        cmqus: comma_question {
            compatible = "zmk,behavior-mod-morph";
            label = "COMMA_QUESTION";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp QUESTION>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        dtsmi: dot_semi {
            compatible = "zmk,behavior-mod-morph";
            label = "DOT_SEMI";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp SEMI>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    macros {
        cpp: cpp {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp BACKSLASH &kp N>;
            label = "CPP";
        };
    };

    combos {
        compatible = "zmk,combos";

        enter {
            bindings = <&kp ENTER>;
            key-positions = <16 17>;
            layers = <0>;
        };

        bkspc {
            bindings = <&kp LC(BACKSPACE)>;
            key-positions = <7 8>;
            layers = <0>;
        };

        home {
            bindings = <&kp HOME>;
            key-positions = <1 2>;
            layers = <0>;
        };

        edn {
            bindings = <&kp END>;
            key-positions = <2 3>;
            layers = <0>;
        };

        cepepe {
            bindings = <&cpp>;
            key-positions = <25 26>;
            layers = <0>;
        };

        game_layer {
            bindings = <&to 5>;
            key-positions = <38 30>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "QWRT";
            bindings = <
&kp Q       &kp W          &kp E           &kp R           &kp T                             &kp Y  &kp U           &kp I           &kp O        &kp P
&kp A       &mt LCTRL S    &mt LEFT_ALT D  &mt LEFT_GUI F  &kp G                             &kp H  &mt LEFT_GUI J  &mt LEFT_ALT K  &mt LCTRL L  &kp SEMI
&lt 1 Z     &kp X          &kp C           &kp V           &kp B                             &kp N  &kp M           &kp COMMA       &kp DOT      &kp SLASH
&kp ESCAPE  &kp PAGE_DOWN  &kp PAGE_UP     &kp TAB         &kp SPACE  &mo 2  &kp LEFT_SHIFT  &mo 1                                               &kp F13
            >;
        };

        number_layer {
            label = "NUM";
            bindings = <
&kp TAB     &kp NUMBER_1      &kp NUMBER_2  &kp NUMBER_3  &kp PERIOD                        &kp DEL  &none           &kp UP_ARROW      &kp BACKSPACE  &none
&none       &kp NUMBER_4      &kp N5        &kp NUMBER_6  &kp MINUS                         &none    &kp LEFT        &kp DOWN          &kp RIGHT      &none
&none       &kp N7            &kp N8        &kp N9        &kp N0                            &none    &kp C_PREVIOUS  &kp C_PLAY_PAUSE  &kp C_NEXT     &none
&kp C_PREV  &kp C_PLAY_PAUSE  &kp C_NEXT    &kp LEFT_ALT  &kp LCTRL   &kp RIGHT_ALT  &none  &none                                                     &kp LG(LS(S))
            >;
        };

        symbol_layer {
            label = "SYM";
            bindings = <
&kp EXCLAMATION  &kp AT_SIGN    &kp HASH       &kp DOLLAR      &kp PERCENT                   &kp CARET       &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp LEFT_BRACE     &kp RIGHT_BRACE
&kp ASTERISK     &kp AMPERSAND  &kp LS(COMMA)  &kp LS(PERIOD)  &none                         &kp KP_MINUS    &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LS(BACKSLASH)  &kp SQT
&none            &none          &kp TAB        &kp LCTRL       &none                         &kp UNDERSCORE  &kp EQUAL             &kp NON_US_BACKSLASH   &none              &none
&none            &none          &none          &none           &kp LEFT_SHIFT  &none  &mo 3  &none                                                                           &none
            >;
        };

        function_layer {
            label = "FUN";
            bindings = <
&kp F1  &kp F2   &kp F3   &kp F4   &none                   &none   &none  &none  &none  &none
&kp F5  &kp F6   &kp F7   &kp F8   &none                   &none   &none  &none  &none  &none
&kp F9  &kp F10  &kp F11  &kp F12  &none                   &none   &none  &none  &none  &none
&trans  &trans   &trans   &trans   &trans  &trans  &trans  &trans                       &trans
            >;
        };

        mouse_layer {
            label = "MOUSE";
            bindings = <
&none  &none  &none  &none  &none                &none  &mkp MB4      &none      &mkp MB5        &none
&none  &none  &none  &none  &none                &none  &mkp LCLK     &mkp MCLK  &mkp RCLK       &none
&none  &none  &none  &none  &none                &none  &msc SCRL_UP  &none      &msc SCRL_DOWN  &none
&none  &none  &none  &none  &none  &none  &none  &none                                           &tog 0
            >;
        };

        scroll_layer {
            label = "SCROLL";
            bindings = <
&kp TAB    &kp N1    &kp N2    &kp N3  &kp N4                   &trans  &trans  &trans  &trans  &trans
&kp LCTRL  &kp Q     &kp W     &kp E   &kp R                    &trans  &trans  &trans  &trans  &trans
&kp LSHFT  &kp A     &kp S     &kp D   &kp F                    &trans  &trans  &trans  &trans  &trans
&kp ESC    &kp LGUI  &kp LALT  &kp Z   &kp SPACE  &kp N  &to 0  &trans                          &trans
            >;
        };

        snipe_layer {
            label = "SNIPE";
            bindings = <
&trans  &trans  &trans  &trans  &bootloader                  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                       &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                       &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans       &trans  &trans  &trans                          &trans
            >;
        };
    };
};
